.contact-us {
    .center-part {
        padding: 70px 0;
    }
  .basic-form {
    padding: 30px;
    background: #ffffff;
    margin: 50px;

    textarea {
      border: 2px solid #3a3a3a;
      background: #562479;
      color: #fff;

      &::placeholder{
        color: #fff;
      }
    }
    input {
      border: 2px solid #3a3a3a;
      background: #562479;
      color: #fff;

      &::placeholder{
        color: #fff;
      }
    }
    .submitbtn{
        background: #ffb600;
        color: #000;
    } 
  }
}
.trianglebg {
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(50%, Salmon),
    color-stop(50%, Khaki)
  );
  background: -webkit-linear-gradient(top left, Salmon 50%, Khaki 50%);
  background: -o-linear-gradient(top left, Salmon 50%, Khaki 50%);
  background: linear-gradient(to bottom right, #ffb600 50%, #562479 50%);
  padding: 0;
  box-shadow: #000 0px 0px 5px 0px;
}

.contact-info {
    padding-left: 75px;
    padding-top: 35px;
    span {
        font-size: 26px;
        color: #562479;
    }
    .secheading {
        text-align: left;
        color: #000;
        margin-bottom: 20px;

    }
    p {
        font-size: 20px;
        color: #818181;
    }
    .contact-icon-box {
        display: flex;
        gap: 20px;
        margin-top: 50px;
        padding-bottom: 15px;
        border-bottom: 1px solid #e8e8e8;
        align-items: center;

        a{
        font-size: 20px;
        color: #818181;
        text-decoration: none;
        }
    }
    h5 {
      font-size: 32px;
      font-family: 'Jost';
      color: #000000;
      letter-spacing: 1px;
      margin-bottom: 0;
    }
  
  .featured-icon {
      background: #ffb600;
      padding: 15px;
      border-radius: 8px;
      box-shadow: #000 0px 0px 4px 0px;

      img{
        width: 45px;
      }
  }
}
.maparea {
  display: flex;
  flex-direction: column;
}