.faq-tabs {
  margin: 60px 0 90px;
  .accordion-button {
    background: #e72b6a;

    color: #fff;
    font-size: 28px;
    font-family: "Jost";
    font-weight: bold;
    &.collapsed {
      background: #562479;
    }
  }
  .accordion-body {
    color: #000;
    font-size: 20px;
  }
  .accordion-button::after {
    width: 33px;
    height: 33px;
    filter: invert(1);
    background-size: contain;
  }
}



@media screen and (max-width:1600px) {

  .faq-tabs {
    margin: 40px 0 65px;
    .accordion-button {
      font-size:20px;
      padding : 10px 15px;
    }
    .accordion-button::after {
      width: 25px;
      height: 30px;
    }
    .accordion-body {
      font-size: 17px;
      line-height: 22px;
      padding: 15px;
    }

  }
  
}


@media screen and (max-width:1024px){

.faq-tabs {
  margin: 35px 0 50px;
  .accordion-button {
    font-size: 17px;
    padding: 8px 12px;
  }
  .accordion-button::after {
    width: 20px;
    height: 25px;
  }
  .accordion-body {
    font-size: 14px;
    line-height: 20px;
    padding: 12px;
  }
}

}


@media screen and (max-width:500px) {
.faq-tabs {
  margin: 25px 0 35px;
  .accordion-button {
    font-size: 16px;
  }
  .accordion-body {
    padding: 10px 12px;
  }
}
}