.testimonial-slider {
  padding-top: 89px;
  .slick-slider {
    margin: 0 50px;
  
  .slick-slide {
    padding: 0 30px;
    .hypeicon {
      height: 54px;
      width: 57px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    &:nth-child(3n-2) .hypeicon {
      background-image: url(../../../public/images/flame-micon.svg);
    }
    &:nth-child(3n-1) .hypeicon {
      background-image: url(../../../public/images/kitty-micon.svg);
    }
    &:nth-child(3n) .hypeicon {
      background-image: url(../../../public/images/rocket-micon.svg);
    }
    .single-review {
      > .d-flex {
        gap: 25px;
      }
      .review-photo {
        border-radius: 12px;
        margin-bottom: 17px;
        max-width: 174px;
        max-height: 100px;
        object-fit: cover;
      }
      .review-details {
        .d-flex {
          gap: 10px;
          justify-content: space-between;
        }
        h3 {
          color: #10410f;
          font-family: Poppins;
          font-size: 24px;
          font-weight: 600;
          line-height: 34px;
          margin-bottom: 6px;
        }
        span {
          color: #10410f;
          font-size: 14px;
          line-height: 1;
          display: block;
        }
        p {
          color: #818181;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 26px;
          margin: 16px 0 0;
        }
      }
    }
  }
  .slick-prev {
    width: 38px;
    height: 38px;
    left: -52px;
    &:before {
      content: url("../../../public/images/testiconleft.svg");
    }
  }
  .slick-next {
    width: 38px;
    height: 38px;
    right: -52px;
    &:before {
      content: url("../../../public/images/testiconryt.svg");
    }
  }
}
}


@media screen and (max-width:1600px) {

  .testimonial-slider {
    padding-top: 65px;
  }

}


@media screen and (max-width:1024px){

.testimonial-slider {
  padding-top: 45px;
  .slick-slider {
    margin: 0 15px;
  
  .slick-slide {
    padding: 0 20px;
  .single-review {
    .review-photo {
      margin-bottom: 10px;
      max-width: 65px;
    }
    .review-rating img {
      min-width: 65px;
      width: 100%;
    }
    .review-details {
      h3 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 5px;
      }
      p {
        font-size: 14px;
        line-height: 21px;
        margin: 12px 0 0;
      }
    }
  }
  .hypeicon {
    height: 40px;
    width: 40px;
  }
}
  
  }
}


}

@media screen and (max-width:780px) {

.testimonial-slider {
    padding-top: 35px;
  .slick-slider {
      margin: 0 25px;
    .slick-slide {
        padding: 0 5px;
    }
  }
}
  
}