.site-banner {
  position: relative;
  background-position: right !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  .banner-inner {
    padding: 116px 0;
    background: linear-gradient(90deg, #d51bed 0%, #e72b6a 10%, #ffb600 36%, rgba(255, 182, 0, 0.75) 41%, rgba(255, 182, 0, 0) 45%);
    .container-max {
      > * {
        position: relative;
        z-index: 1;
      }
    }
  }
  h2 {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
    font-family: EvelethW01-CleanRegular;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    width: 100%;
    max-width: 725px;
    color: #fff;
    line-height: 1.1;
  }
  p {
    color: #fff;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 685px;
    margin-top: 45px;
    margin-bottom: 50px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.30);
  }
  .triblocks {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    .leftyban {
      position: absolute;
      left: 0;
      top: 0;
      animation: leftmovement 2s infinite linear alternate;
    }
    .rightban {
      position: absolute;
      right: 0;
      bottom: 0;
      animation: rightmovement 2s infinite linear alternate;
    }
    .bottomban {
      position: absolute;
      left: 0;
      bottom: 0;
      animation: bottommovement 2s infinite linear alternate;
    }
  }
  .banner-gettouch {
    margin-bottom: 70px;
    a {
      border-radius: 11px;
      padding: 15px 40px;
      display: block;
      background: #562479;
      width: fit-content;
      color: #ffffff;
      font-family: 'Poppins';
      font-size: 28px;
      text-decoration: none;
      border: 3px solid;

      &:hover{
        background: #ffb600;
        color: #000000;
      }
    }
  }
}
@keyframes bottommovement {
  0%,
  100% {
    transform: skewY(5deg);
    margin-bottom: -15px;
  }
  50% {
    transform: skewY(-5deg);
  }
}
@keyframes rightmovement {
  0%,
  100% {
    transform: skewX(-5deg);
    margin-right: -15px;
  }
  50% {
    transform: skewX(5deg);
  }
}
@keyframes leftmovement {
  0%,
  100% {
    transform: skewX(5deg);
    margin-left: -15px;
  }
  50% {
    transform: skewX(-5deg);
  }
}

.site-banner.inner-page-banner {
  .banner-inner {
    padding-top: 140px;
  }
  h2 {
    max-width: 100%;
    text-align: center;
    font-size: 85px;
    font-weight: 500;
    font-family: 'Fonarto';
    span {
      display: block;
      width: fit-content;
      margin: 20px auto 0;
      transform: unset;
    }
  }
  p {
    margin: 0;
  }
  .banner-gettouch {
    max-width: 100%;
    visibility: hidden;
  }
  .triblocks {
    background: #56247969;
  }
}
