.Home {
}
.services-sec {
  background-image: url("../../../public/images/services-bg.jpg");
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  h2 {
    color: #e93860;
    padding-top: 52px;
    padding-bottom: 10px;
    margin: 0;
  }
  h3 {
    color: #454545;
    text-align: center;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  > p {
    color: #454545;
    text-align: center;
    font-size: 20px;
    max-width: 675px;
    margin: 30px auto 0;
  }
}
.justimage-sec {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
  }
  .bounceball {
    border-radius: 100%;
    mix-blend-mode: color;
    position: absolute;
    animation: shinigballs 4s infinite linear;
  }
  .one {
    background: linear-gradient(
      72deg,
      rgba(0, 108, 255, 0.21) 26.39%,
      #02a99f 90.37%
    );
    left: -5%;
    top: -10%;
    width: 21%;
    height: 55%;
  }
  .two {
    background: linear-gradient(
      72deg,
      rgba(235, 255, 0, 0.21) 26.39%,
      #014900 90.37%
    );
    bottom: -13%;
    left: -5%;
    width: 21%;
    height: 55%;
  }
  .three {
    background: linear-gradient(
      34deg,
      rgba(255, 245, 0, 0.21) 35.41%,
      #ff4c00 83.86%
    );
    top: 10%;
    left: 12%;
    width: 17%;
    height: 44%;
  }
  .four {
    background: linear-gradient(
      304deg,
      rgba(235, 0, 255, 0.21) 26.39%,
      #5b01b6 90.37%
    );
    left: 35%;
    bottom: -10%;
    width: 23%;
    height: 58%;
  }
  .five {
    background: linear-gradient(
      34deg,
      rgba(255, 245, 0, 0.21) 35.41%,
      #ff4c00 83.86%
    );
    right: 8%;
    top: 36%;
    width: 17%;
    height: 44%;
  }
  .six {
    background: linear-gradient(
      72deg,
      rgba(0, 108, 255, 0.21) 26.39%,
      #02a99f 90.37%
    );
    right: -2%;
    top: -10%;
    width: 21%;
    height: 55%;
  }
  .seven {
    background: linear-gradient(
      72deg,
      rgba(235, 0, 255, 0.21) 26.39%,
      #5b01b6 90.37%
    );
    right: -5%;
    bottom: -15%;
    width: 17%;
    height: 44%;
  }
  .eight {
    background: linear-gradient(
      180deg,
      rgba(235, 255, 0, 0.21) 26.39%,
      #014900 90.37%
    );
    left: 35%;
    top: -10%;
    width: 15%;
    height: 37%;
  }
}

@keyframes shinigballs {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.features-sec {
  padding-top: 72px;
  padding-bottom: 127px;
  
  h2 {
    color: #ffb600;
  }
  > p {
    color: #5b5b5b;
    text-align: center;
    font-size: 20px;
    max-width: 995px;
    margin: 23px auto 89px;
    padding: 0 10px;
  }
  
}
@keyframes squareright {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

.counter-sec {
  background-image: url("../../../public/images/smallyellowbg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 109px 0;
  background-position: center;
  .d-flex {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    > div {
      padding: 0px 30px;
      width: fit-content;
      border-radius: 10px;
      min-width: 276px;
    }
  }
  h3 {
    font-family: Poppins;
    font-size: 68.046px;
    font-style: normal;
    font-weight: 700;
    color: #fff;
    text-align: center;
    line-height: 1;
    margin-bottom: 22px;
    padding-top: 64px;
  }
  .textblack {
    color: #000;
  }
  p {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 18.989px;
    font-weight: 500;
    text-transform: capitalize;
    padding-bottom: 37px;
    margin-bottom: 0;
  }
}

.testimonial-sec {
  margin-top: 115px;
  padding-bottom: 238px;
  background-image: url("../../../public/images/testiback.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  h2 {
    color: #ffb600;
  }
}
.package-sec {
  .secheading {
    color: #000;
    margin-bottom: 76px;
  }
}

.contact-sec {
  padding: 54px 0 34px;
  background-image: url("../../../public/images/contactbg.webp");
  background-size: cover;
  background-repeat: no-repeat;

  .secheading {
    color: #000;
    margin: 0;
  }
}
.familylogos-sec {
  padding: 67px 0;
  .d-flex {
    justify-content: space-between;
  }
}
