.serv-slider{ 

.slick-slide {
  padding-top: 122px;
  padding-left: 50px;
  padding-right: 50px;

  &:hover {
    padding-top: 51px;

    .serv-single {
      border-radius: 34px;

      .serv-center {
        padding-bottom: 34px;
        border-radius: 34px;
      }
      a {
        display: block;
      }
      h3{
        margin-top: 16px;
      }
    }
    
    &:hover .serv-icon {
      width: 120px;
      height: 120px;
      padding: 27px;
      margin-top: -110px;
      img {
        height: 65px;
        width: 65px;
      }
    }
  }
  .serv-single {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 34px 34px 0 0;
    
    .serv-center {
      border-radius: 34px 34px 0 0;
      text-align: center;
      padding-top: 62px;
      padding-bottom: 59px;
    }

    .serv-icon {
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 80px;
      background: #fff;
      border-radius: 100%;
      padding: 15px;
      transition: all 0.3s linear;
      img {
        height: 50px;
        width: 50px;
        margin: 0 auto;
        transition: all 0.3s linear;
      }
    }
    h3 {
      color: #fff;
      font-family: 'Fonarto';
      font-size: 40px;
      line-height: normal;
      margin-top: 25px;
    }
    p {
      color: #fff;
      text-align: center;
      font-family: Poppins;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      margin-bottom: 0;    }
    a {
      padding: 20px 30px;
      border-radius: 8px;
      border: 2px solid #fff;
      display: none;
      width: fit-content;
      margin: 31px auto 0;
      color: #fff;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;

      &:hover{
        color: #562479;
        background: #fff; 
      }
    }
  }
  &:nth-child(3n-2) .serv-center {
    background-color: rgb(231 43 106 / 75%);
  }
  &:nth-child(3n-1) .serv-center {
    background-color: rgb(86 36 121 / 75%);
  }
  &:nth-child(3n) .serv-center {
    background-color: rgb(255 71 46 / 75%);
  }
}

.slick-prev {
  top: 75px;
  left: calc(99%  - 130px);
  width: 60px;
  height: 55px;
  z-index: 999;
}
.slick-next {
  top: 75px;
  right: 1%;
  width: 60px;
  height: 55px;
}
.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 60px;
  opacity: 1;
}
}