@import "~bootstrap/scss/bootstrap";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.woff2") format("woff2"),
    url("fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Medium.woff2") format("woff2"),
    url("fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Bold.woff2") format("woff2"),
    url("fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-Medium.woff2") format("woff2"),
    url("fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-SemiBold.woff2") format("woff2"),
    url("fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-Bold.woff2") format("woff2"),
    url("fonts/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-Regular.woff2") format("woff2"),
    url("fonts/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fonarto";
  src: url("fonts/Fonarto.woff2") format("woff2"),
    url("fonts/Fonarto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rallifornia";
  src: url("fonts/Rallifornia.woff2") format("woff2"),
    url("fonts/Rallifornia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'EvelethW01-CleanRegular';
  src: url('fonts/EvelethW01-CleanRegular.woff2') format('woff2'),
      url('fonts/EvelethW01-CleanRegular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


$baseyellow: #ffb600;
$basepurple: #562479;
$basepeach: #ff472e;
$basepink: #e72b6a;
$basepowder: #ffdd88;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.bgyellow {
  background-color: $baseyellow;
}
.bgpeach {
  background-color: $basepeach;
}
.bgpurple {
  background-color: $basepurple;
}
.bgpink {
  background-color: $basepink;
}
.bgpowder {
  background-color: $basepowder;
}
.textyellow {
  color: $baseyellow;
}
.textpeach {
  color: $basepeach;
}
.textpurple {
  color: $basepurple;
}
.textpink {
  color: $basepink;
}
.textblack {
  color: #000;
}
.container-max {
  max-width: 1653px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-med {
  max-width: 1586px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btnyellow {
  background-color: $baseyellow;
  &:hover {
    background-color: $basepurple;
    color: #fff;
  }
}
.secheading {
  font-family: "Fonarto";
  font-size: 72px;
  text-align: center;
  letter-spacing: -1.44px;
}

.basic-form {
  input,
  .react-tel-input .form-control {
    width: 100%;
    margin: 23px 0;
    border-radius: 9px;
    border: 2px solid #000;
    background: #fff;
    padding: 18px 30px;
    color: #000;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.48px;

    &::placeholder{
      color: #000;;
    }
  }
  textarea {
    width: 100%;
    margin: 23px 0;
    border-radius: 9px;
    border: 2px solid #000;
    background: #fff;
    padding: 18px 30px;
    color: #000;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.48px;
    height: 200px;

    &::placeholder{
      color: #000;;
    }
  }

  .submit-outer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submitbtn {
    border-radius: 8px;
    border: 4px solid #fff;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.42);
    padding: 16px 62px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    &:hover{
      
      border: 4px solid #000;
      background: #fff;
      color: #000;
    }
  }
  .react-tel-input .form-control { 
    height: 75px;
    padding-left: 50px;
    margin: 23px 0 !important;
  }
  .flag-dropdown {
    margin: 3px 0px 2px 3px;
    border-radius: 5px !important;

    .selected-flag {
      width: 40px;
    } 
}
  
}

/* industries pages */
.industries-subpage {
  .right-splitsec {
    padding: 100px 0;

    span {
      font-size: 26px;
      color: #562479;
    }
    .secheading {
      text-align: left;
      color: #000;
      margin-bottom: 20px;
      font-size: 56px;
    }
    p {
      font-size: 20px;
      color: #818181;
    }
    .splitimg-part {
      padding-left: 7%;
      img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  .small-strip {
    padding: 55px 0;
    background-color: #562479;
  
    .iconheading {
      color: #fff;
    }
    p {
      text-align: center;
      margin: 30px auto 0;
      max-width: 75%;
      color: #fff;
      font-size: 20px;
    }
  }

  .outsourcing-sec {
    margin: 90px 0 120px;
    h3 {
      font-size: 50px;
      text-align: center;
      color: #000;
      font-family: "Poppins";
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-size: 20px;
      text-align: center;
      color: #818181;
    }
  }
  .helpyou-sec {
    background: #562479;
    padding: 40px 0;
    .secheading {
      color: #ffffff;
    }
    h3 {
      text-align: center;
      color: #ffffff;
    }

    .triangle-cards {
      margin: 70px 0;
      columns: 3;
      column-gap: 35px;

      .icon {
        background: #ffb600;
        box-shadow: 0px 4px 4px 0px #562479;
        margin: 2px auto;
        border-radius: 15px;
        padding: 15px;
        img {
          width: 75px;
        }
      }

      .card {
        border: none;
        padding: 30px;
        box-shadow: #000 5px 5px 18px -8px;
        border-radius: 30px;
        display: inline-flex;
        margin-bottom: 35px;

        h4 {
          text-align: center;
          font-size: 34px;
          font-family: "Jost";
          color: #000;
          margin: 20px 0;
          font-weight: bold;
        }
        p {
          text-align: center;
          font-size: 20px;
          color: #818181;
        }
      }
    }
  }
  .benifits-sec {
    margin: 90px 0 120px;
    text-align: center;

    .secheading {
      color: #000000;
    }
    h3 {
      color: #5b5b5b;
      margin: 20px auto 70px;
      font-size: 20px;
      font-weight: 400;
    }
    .roundcard-outer {
      display: grid;
      grid-template-columns: repeat(4, 23%);
      justify-content: space-between;
      .roundcard {
        padding: 60px 15px;
        border-radius: 25px;
        border: 2px solid #000000;
        background: #ffb600;

        h4 {
          font-family: "Jost";
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 15px;
          color: #000000;
          text-decoration: underline;
          text-underline-offset: 3px; 
        } 
        p {
          margin-bottom: 0;
          font-size: 20px;
          color: #000000;
        }
      }
    }
  }
  .account-faqs {
    margin-top: 85px;
    h2 {
      color: #000;
    }
  }
}



/* Solutions subpage */
.solutions-subpage {  
  .right-splitsec {
  padding: 100px 0;

  span {
    font-size: 26px;
    color: #562479;
  }
  .secheading {
    text-align: left;
    color: #000;
    margin-bottom: 20px;
    font-size: 54px;
  }
  p {
    font-size: 20px;
    color: #818181;
  }
  .splitimg-part {
    padding-left: 7%;
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
}

.small-strip {
  background: #562479;
  margin-top: 95px;
  padding: 55px 0;

  .iconheading {
    color: #fff;
  }
  p {
    text-align: center;
    margin: 30px auto 0;
    max-width: 75%;
    color: #fff;
    font-size: 20px;
  }
}

.outsourcing-sec {
  margin: 120px 0;
  h3 {
    font-size: 50px;
    text-align: center;
    color: #000;
    font-family: "Poppins";
    font-weight: bold;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: #818181;
  }
}
.helpyou-sec {
  background: #562479;
  padding: 40px 0;
  .secheading {
    color: #ffffff;
  }
  h3 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    width: 70%;
    margin: 35px auto 0;
  }

  .triangle-cards {
    margin: 70px 0;
    columns: 3;
    column-gap: 35px;
    display: grid;
    grid-template-columns: repeat(3, auto);

    .icon {
      background: #ffb600;
      box-shadow: 0px 4px 4px 0px #562479;
      margin: 2px auto;
      border-radius: 15px;
      padding: 15px;
      img {
        width: 75px;
      }
    }

    .card {
      border: none;
      padding: 30px;
      box-shadow: #000 5px 5px 18px -8px;
      border-radius: 30px;
      display: inline-flex;
      margin-bottom: 35px;

      h4 {
        text-align: center;
        font-size: 34px;
        font-family: "Jost";
        color: #000;
        margin: 20px 0;
        font-weight: bold;
      }
      p {
        text-align: center;
        font-size: 20px;
        color: #818181;
      }
    }
  }
}
.benifits-sec {
  margin: 90px 0;
  text-align: center;

  .secheading {
    color: #000;
  }
  h3 {
    color: #5b5b5b;
    margin: 20px auto 70px;
    font-size: 20px;
    font-weight: 400;
  }
  &.threeelements .roundcard-outer {
    grid-template-columns: repeat(3, 30%);
  }
  .roundcard-outer {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
    .roundcard {
      padding: 60px 15px;
      border-radius: 25px;
      border: 2px solid #000000;
      background: #e72b6a;

      h4 {
        font-family: "Jost";
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 3px; 
      }
      p {
        margin-bottom: 0;
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
}
.contact-sec {
  margin-top: 120px;
}
.account-faqs {
  margin-top: 85px;
  h2 {
    color: #000;
  }
}
}




@media screen and (max-width:1700px) {
  
  .container-max {
    max-width:1300px;
    padding-left: 0;
    padding-right: 0;
  }
  .container-med {
    max-width: 1200px;
    padding: 0;
  } 

}


@media screen and (max-width:1600px) {
  .container {
    max-width: 1170px;
  }
  .secheading{
    font-size: 50px;
  }
  .basic-form {
  .submitbtn {
    border: 3px solid #fff;
    padding: 12px 50px;
    font-size: 20px;
  }
  .submitbtn:hover {
    border: 3px solid #000;
  }
   
}

.solutions-subpage, .industries-subpage  {

  .right-splitsec {
    padding: 60px 0;
    span {
      font-size: 20px;
    }
    .secheading {
      margin-bottom: 18px;
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }
  }
  .helpyou-sec {
    h3 {
      font-size: 16px;
      margin: 25px auto 0;
      width: 100%;
    }
    .triangle-cards {
      margin: 50px 0 0px;
      column-gap: 30px;
      .card {
        padding: 20px;
        margin-bottom: 30px;
        h4 {
          font-size: 26px;
        }
        p {
          font-size: 16px;
        }
      }
      .icon {
        padding: 10px;
        img {
          width: 50px;
        }
      }
    }
  }

.small-strip {
  margin-top: 50px;
  padding: 40px 0;
  .iconheading {
    font-size: 50px;
  }
  p {
    margin: 25px auto 0;
    max-width: 100%;
    font-size: 16px;
  }
}

.benifits-sec{
  margin: 60px 0;
  h3{
    margin: 12px auto 45px;
    font-size: 16px;
  }
  .roundcard-outer{
    .roundcard {
      padding: 25px 12px;
    h4{
      font-size: 22px;
      margin-bottom: 15px;
    }
    p{
      font-size: 16px;
    }
  }
  }
}
.contact-sec {
  margin-top: 50px;
}
.account-faqs {
  margin-top: 50px;
}

.outsourcing-sec{
  margin: 50px 0 60px;
   h3{
    font-size: 35px;
    margin-bottom: 20px;
   }
   p {
    font-size: 17px;
   }

}

}

.basic-form {
  input, .react-tel-input .form-control {
    margin: 15px 0;
    padding: 15px 18px;
    font-size: 16px;
  }
  .react-tel-input .form-control {
    height: 60px;
    padding-left: 50px;
    margin: 15px 0 !important;
  }
  textarea {
    margin: 15px 0;
    padding: 15px 18px;
    font-size: 16px;
    height: 150px;
  }
}



}

@media screen and (max-width:1400px) {
  
  .container-max {
    max-width:1200px;
  }
  .container-med {
    max-width: 1100px;
  } 

}

@media screen and (max-width:1300px) {
  
  .container-max {
    max-width:1100px;
  }
  .container-med {
    max-width: 1000px;
  } 

}


@media screen and (max-width:1024px) {

  .container-max {
    max-width:900px;
  }
  .container-med {
    max-width: 800px;
  }
  
  
.secheading {
    font-size: 45px;
}

.basic-form {
input, 
.react-tel-input .form-control {
  margin: 15px 0;
  padding: 12px 15px;
}
.react-tel-input .form-control {
  height: 54px;
  padding-left: 50px;
  margin: 15px 0 !important;
}
textarea {
  height: 135px;
  padding: 12px 15px;
  margin: 15px 0;
}
.submitbtn {
  border: 2px solid #fff;
  padding: 10px 30px;
  font-size: 16px;
  margin-top: 10px;
}
.submitbtn:hover {
  border: 2px solid #000;
}
}

.solutions-subpage, .industries-subpage {
  .right-splitsec{
    padding: 40px 0;
    span {
      font-size: 18px;
    }
    .secheading {
      margin-bottom: 15px;
      font-size: 30px;
      line-height: 30px;
    }
    p {
      font-size: 14px;
      margin: 10px 0 !important;
    }

  }
  .helpyou-sec {
    padding: 30px 0;
    h3 {
      font-size: 14px;
      margin: 15px auto 0;
    }
    .triangle-cards{
      margin: 40px 0 0px;
      column-gap: 25px;
      .icon {
      padding: 8px;
      img {
        width: 40px;
      }
      }
      .card{
        padding: 15px;
        margin-bottom: 25px;
        h4 {
          font-size: 22px;
          margin: 18px 0;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .small-strip {
    margin-top: 40px;
    padding: 32px 0;
    .iconheading {
      font-size: 38px;
      img{
        max-height: 60px;
      }
    }
    p {
      margin: 15px auto 0;
      font-size: 14px;
    }
  }
  .benifits-sec {
    margin: 40px 0;
    h3 {
      margin: 8px auto 32px;
      font-size: 14px;
    }
    .roundcard-outer {
      .roundcard {
        padding: 15px 10px;
        h4 {
          font-size: 18px;
          margin-bottom: 12px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  .contact-sec {
    margin-top: 50px;
    padding-top: 0;
  }
  .account-faqs {
    margin-top: 40px;
  }
  .outsourcing-sec{
    margin: 30px 0 35px;
    h3 {
      font-size: 28px;
      margin-bottom: 13px;
    }
    p {
      font-size: 14px;
      margin: 5px 0;
    }
  }

}

.container-sm, .container {
  max-width: 90%;
  padding: 0;
}


}


@media screen and (max-width:825px) {
  
.secheading {
    font-size: 38px;
}
.counter-sec {
  h3 {
    font-size: 28px;
  }
}

.solutions-subpage, .industries-subpage{
  .right-splitsec {
    padding: 38px 0;
    .splitimg-part {
      padding-left: 0%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .small-strip {
    .iconheading {
      font-size: 35px;
    }
  }
}
  
.container-max {
  max-width:90%;
}
.container-med {
  max-width: 90%;
} 
.site-header .container-max {
  max-width: 100%;
  padding: 0 25px;
}

}

@media screen and (max-width:780px) {

.secheading {
    font-size: 35px;
}
.basic-form{
  input, .react-tel-input .form-control {
  margin: 10px 0;
  padding: 10px 12px;
  font-size: 16px;
  }
  .react-tel-input .form-control {
    height: 47px;
    padding-left: 50px;
    margin: 10px 0 !important;
  }
  textarea {
    height: 105px;
    font-size: 16px;
    padding: 10px 12px;
    margin: 10px 0;
  }
}

.solutions-subpage, .industries-subpage{
.right-splitsec {
    padding: 20px 0 30px;
}
.helpyou-sec {
  padding: 30px 0;
  .h3 {
    font-size: 16px;
    margin: 12px auto 0;
  }
  .triangle-cards {
    margin: 35px 0 0px;
    column-gap: 25px;
    grid-template-columns: repeat(2, auto);
    columns: 2;

    .card {
      padding: 18px;
      margin-bottom: 25px;
    }
  }
}
.benifits-sec {
  margin: 40px 0;
  .h3 {
    margin: 10px auto 35px;
    font-size: 16px;
  }
  .roundcard-outer {
    grid-template-columns: repeat(2, 48%);
    gap: 25px;
  }
}
.benifits-sec.threeelements {
  .roundcard-outer {
    grid-template-columns: repeat(1, 100%);
  }
}

}

}


@media screen and (max-width: 500px) {
  .secheading {
      font-size: 28px;
      letter-spacing: 0;
  }

.basic-form {
  input, .react-tel-input .form-control {
    margin: 7px 0;
    padding: 8px 10px;
    font-size: 14px;
  }
  .react-tel-input .form-control {
    height: 40px;
    padding-left: 50px;
    margin: 7px 0 !important;
  }
  textarea {
    height: 85px;
    font-size: 14px;
    padding: 8px 10px;
    margin: 7px 0;
  }
  .submitbtn {
    padding: 8px 25px;
    font-size: 15px;
  }
}

.solutions-subpage, .industries-subpage{
.right-splitsec{
  padding: 12px 0 15px;
  .splitimg-part {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  span {
    font-size: 16px;
  }
  .secheading {
    margin-bottom: 12px;
    font-size: 25px;
    line-height: 27px;
  }
}
.helpyou-sec {
  padding: 25px 0 20px;
  margin-bottom: 25px;
  .triangle-cards {
    margin: 28px 0 0px;
    column-gap: 20px;
    grid-template-columns: repeat(1, auto);
    columns: 1;
    .icon {
      img {
      width: 35px;
      }
    }
    .card {
      margin-bottom: 20px;
      h4 {
      font-size: 20px;
      margin: 12px 0;
      }
    }
  }
}
.secheading {
  font-size: 25px;
  line-height: 28px;
}
.small-strip {
  margin-top: 0px;
  padding: 25px 0;
  .iconheading {
  font-size: 25px;
  img {
    max-height: 45px;
  }
  }
}
.benifits-sec {
  margin: 30px 0;
  .roundcard-outer {
  grid-template-columns: repeat(1, 100%);
  gap: 20px;
  }
  h3 {
    margin: 8px auto 25px;
  }
}
.contact-sec {
  margin-top: 40px;
}
.account-faqs {
  margin-top: 30px;
}
.outsourcing-sec {
  margin: 22px 0 25px;
  h3 {
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 26px;
  }
}

}

}

