@import "~bootstrap/scss/bootstrap";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Regular.woff2") format("woff2"),
    url("fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Medium.woff2") format("woff2"),
    url("fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-SemiBold.woff2") format("woff2"),
    url("fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("fonts/Poppins-Bold.woff2") format("woff2"),
    url("fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-Medium.woff2") format("woff2"),
    url("fonts/Jost-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-SemiBold.woff2") format("woff2"),
    url("fonts/Jost-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-Bold.woff2") format("woff2"),
    url("fonts/Jost-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("fonts/Jost-Regular.woff2") format("woff2"),
    url("fonts/Jost-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Fonarto";
  src: url("fonts/Fonarto.woff2") format("woff2"),
    url("fonts/Fonarto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rallifornia";
  src: url("fonts/Rallifornia.woff2") format("woff2"),
    url("fonts/Rallifornia.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'EvelethW01-CleanRegular';
  src: url('fonts/EvelethW01-CleanRegular.woff2') format('woff2'),
      url('fonts/EvelethW01-CleanRegular.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}


$baseyellow: #ffb600;
$basepurple: #562479;
$basepeach: #ff472e;
$basepink: #e72b6a;
$basepowder: #ffdd88;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
.bgyellow {
  background-color: $baseyellow;
}
.bgpeach {
  background-color: $basepeach;
}
.bgpurple {
  background-color: $basepurple;
}
.bgpink {
  background-color: $basepink;
}
.bgpowder {
  background-color: $basepowder;
}
.textyellow {
  color: $baseyellow;
}
.textpeach {
  color: $basepeach;
}
.textpurple {
  color: $basepurple;
}
.textpink {
  color: $basepink;
}
.textblack {
  color: #000;
}
.container-max {
  max-width: 1653px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container-med {
  max-width: 1586px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.btnyellow {
  background-color: $baseyellow;
  &:hover {
    background-color: $basepurple;
    color: #fff;
  }
}
.secheading {
  font-family: "Fonarto";
  font-size: 72px;
  text-align: center;
  letter-spacing: -1.44px;
}

.basic-form {
  input {
    width: 100%;
    margin: 23px 0;
    border-radius: 9px;
    border: 2px solid #fff;
    background: #fff;
    padding: 18px 30px;
    color: #000;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.48px;

    &::placeholder{
      color: #000;;
    }
  }
  textarea {
    width: 100%;
    margin: 23px 0;
    border-radius: 9px;
    border: 2px solid #fff;
    background: #fff;
    padding: 18px 30px;
    color: #000;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.48px;
    height: 170px;

    &::placeholder{
      color: #000;;
    }
  }
  .submit-outer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .submitbtn {
    border-radius: 8px;
    border: 4px solid #fff;
    background: #000;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.42);
    padding: 16px 62px;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    &:hover{
      
      border: 4px solid #000;
      background: #fff;
      color: #000;
    }
  }
}


/* industries pages */
.industries-subpage {
  .right-splitsec {
    padding: 100px 0;

    span {
      font-size: 26px;
      color: #562479;
    }
    .secheading {
      text-align: left;
      color: #000;
      margin-bottom: 20px;
      font-size: 56px;
    }
    p {
      font-size: 20px;
      color: #818181;
    }
    .splitimg-part {
      padding-left: 7%;
      img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  .small-strip {
    padding: 55px 0;
    background-color: #562479;
  
    .iconheading {
      color: #fff;
    }
    p {
      text-align: center;
      margin: 30px auto 0;
      max-width: 75%;
      color: #fff;
      font-size: 20px;
    }
  }

  .outsourcing-sec {
    margin: 90px 0 120px;
    h3 {
      font-size: 50px;
      text-align: center;
      color: #000;
      font-family: "Poppins";
      font-weight: bold;
      margin-bottom: 30px;
    }
    p {
      font-size: 20px;
      text-align: center;
      color: #818181;
    }
  }
  .helpyou-sec {
    background: #562479;
    padding: 40px 0;
    .secheading {
      color: #ffffff;
    }
    h3 {
      text-align: center;
      color: #ffffff;
    }

    .triangle-cards {
      margin: 70px 0;
      columns: 3;
      column-gap: 35px;

      .icon {
        background: #ffb600;
        box-shadow: 0px 4px 4px 0px #562479;
        margin: 2px auto;
        border-radius: 15px;
        padding: 15px;
        img {
          width: 75px;
        }
      }

      .card {
        border: none;
        padding: 30px;
        box-shadow: #000 5px 5px 18px -8px;
        border-radius: 30px;
        display: inline-flex;
        margin-bottom: 35px;

        h4 {
          text-align: center;
          font-size: 34px;
          font-family: "Jost";
          color: #000;
          margin: 20px 0;
          font-weight: bold;
        }
        p {
          text-align: center;
          font-size: 20px;
          color: #818181;
        }
      }
    }
  }
  .benifits-sec {
    margin: 90px 0 120px;
    text-align: center;

    .secheading {
      color: #000000;
    }
    h3 {
      color: #5b5b5b;
      margin: 20px auto 70px;
      font-size: 20px;
      font-weight: 400;
    }
    .roundcard-outer {
      display: grid;
      grid-template-columns: repeat(4, 23%);
      justify-content: space-between;
      .roundcard {
        padding: 60px 15px;
        border-radius: 25px;
        border: 2px solid #000000;
        background: #ffb600;

        h4 {
          font-family: "Jost";
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 15px;
          color: #000000;
          text-decoration: underline;
          text-underline-offset: 3px; 
        } 
        p {
          margin-bottom: 0;
          font-size: 20px;
          color: #000000;
        }
      }
    }
  }
  .account-faqs {
    margin-top: 85px;
    h2 {
      color: #000;
    }
  }
}



/* Solutions subpage */
.solutions-subpage {  
  .right-splitsec {
  padding: 100px 0;

  span {
    font-size: 26px;
    color: #562479;
  }
  .secheading {
    text-align: left;
    color: #000;
    margin-bottom: 20px;
    font-size: 56px;
  }
  p {
    font-size: 20px;
    color: #818181;
  }
  .splitimg-part {
    padding-left: 7%;
    img {
      width: 100%;
      border-radius: 20px;
    }
  }
}

.small-strip {
  background: #562479;
  margin-top: 95px;
  padding: 55px 0;

  .iconheading {
    color: #fff;
  }
  p {
    text-align: center;
    margin: 30px auto 0;
    max-width: 75%;
    color: #fff;
    font-size: 20px;
  }
}

.outsourcing-sec {
  margin: 120px 0;
  h3 {
    font-size: 50px;
    text-align: center;
    color: #000;
    font-family: "Poppins";
    font-weight: bold;
    margin-bottom: 30px;
  }
  p {
    font-size: 20px;
    text-align: center;
    color: #818181;
  }
}
.helpyou-sec {
  background: #562479;
  padding: 40px 0;
  .secheading {
    color: #ffffff;
  }
  h3 {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    width: 70%;
    margin: 35px auto 0;
  }

  .triangle-cards {
    margin: 70px 0;
    columns: 3;
    column-gap: 35px;
    display: grid;
    grid-template-columns: repeat(3, auto);

    .icon {
      background: #ffb600;
      box-shadow: 0px 4px 4px 0px #562479;
      margin: 2px auto;
      border-radius: 15px;
      padding: 15px;
      img {
        width: 75px;
      }
    }

    .card {
      border: none;
      padding: 30px;
      box-shadow: #000 5px 5px 18px -8px;
      border-radius: 30px;
      display: inline-flex;
      margin-bottom: 35px;

      h4 {
        text-align: center;
        font-size: 34px;
        font-family: "Jost";
        color: #000;
        margin: 20px 0;
        font-weight: bold;
      }
      p {
        text-align: center;
        font-size: 20px;
        color: #818181;
      }
    }
  }
}
.benifits-sec {
  margin: 90px 0;
  text-align: center;

  .secheading {
    color: #000;
  }
  h3 {
    color: #5b5b5b;
    margin: 20px auto 70px;
    font-size: 20px;
    font-weight: 400;
  }
  &.threeelements .roundcard-outer {
    grid-template-columns: repeat(3, 30%);
  }
  .roundcard-outer {
    display: grid;
    grid-template-columns: repeat(4, 23%);
    justify-content: space-between;
    .roundcard {
      padding: 60px 15px;
      border-radius: 25px;
      border: 2px solid #000000;
      background: #e72b6a;

      h4 {
        font-family: "Jost";
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 15px;
        color: #fff;
        text-decoration: underline;
        text-underline-offset: 3px; 
      }
      p {
        margin-bottom: 0;
        font-size: 20px;
        color: #ffffff;
      }
    }
  }
}
.contact-sec {
  margin-top: 120px;
}
.account-faqs {
  margin-top: 85px;
  h2 {
    color: #000;
  }
}
}