.pricing-page {
  .pricing-splitsec {
    padding: 100px 0;

    span {
      font-size: 26px;
      color: #562479;
    }
    .secheading {
      text-align: left;
      color: #000;
      margin-bottom: 20px;
      font-size: 64px;
    }
    p {
      font-size: 20px;
      color: #818181;
    }
    .splitimg-part {
      padding-left: 7%;
      img {
        width: 100%;
        border-radius: 20px;
      }
    }
  }

  .tribackground {
    // background: radial-gradient(rgb(255 181 0 / 46%) 24%, rgba(0, 0, 0, 0) 25%),
    //   radial-gradient(rgba(255, 0, 161, 0.04) 30%, rgba(0, 0, 0, 0) 32%) 70px
    //     70px,
    //   repeating-conic-gradient(
    //     from 30deg,
    //     rgba(85, 36, 120, 0) 0 30deg,
    //     rgb(255 182 0) 0 90deg
    //   );
    // background-size: 70px 70px;
    // padding-bottom: 0px;
    // background-position: bottom;
    // background-attachment: fixed;
    h2 {
      color: #000000;
      font-family: Fonarto;
      font-size: 80px;
      margin-bottom: 0;
      padding: 50px 15px 0px;
      text-align: center;
    }
  }
  .packages-pricing {
    padding: 50px 0 0;

    > p {
      font-size: 20px;
      background: rgba(255, 255, 255, 0.8117647059);
      padding: 0 0 30px;
      text-align: center;
      width: 70%;
      margin: 0 auto;
      color: #000;
      font-weight: 500;
      margin-bottom: 40px;
    }
  }

  .pricing-splitsec.leftimgtype {
    .list-style1 > li {
      flex: 0 0 50%;
      max-width: 50%;
      font-size: 20px;
      margin-bottom: 10px;
      color: #818181;
    }
    .splitimg-part {
      padding-left: 0;
      padding-right: 7%;
    }
    a.btnyellow {
      display: block;
      width: fit-content;
      text-decoration: none;
      padding: 15px 30px;
      border-radius: 8px;
      font-size: 22px;
      margin-top: 20px;
      font-weight: 500;
      transition: 0.5s ease-out;


    }
  }
  .review-sec {
    background: #e72b6a;
    .testimonial-slider {
      padding-top: 50px;
      padding-bottom: 50px;

      * {
        color: #fff !important;
      }
      .review-rating img {
        filter: brightness(2.5);
      }
    }
    .secheading {
      margin-top: 50px;
      background: rgb(231 43 106);
      padding: 10px 15px 20px;
      color: #ffffff;
      text-transform: capitalize;
      text-shadow: 1px 2px 2px #000000;
      box-shadow: 0px 4px 2px -4px #000;
    }
  }
}

@media screen and (max-width:1600px) {

  .pricing-page {

  .pricing-splitsec{
    span {
      font-size: 20px;
    }
    .secheading{
      font-size: 40px;
    }
    p {
      font-size: 16px;
    }

  }
  .tribackground h2 {
    font-size: 50px;
    padding: 25px 15px 0px;
  }
  .packages-pricing {
    padding: 28px 0 0;
    > p {
      font-size: 16px;
      margin-bottom: 25px;
  }

  }
}
}

@media screen and (max-width:1024px){

.pricing-page {
  .pricing-splitsec {
    padding: 40px 0;
    span {
      font-size: 18px;
    }
    .secheading {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
      margin: 10px 0 !important;
    }

  }
  .tribackground {
    h2 {
      font-size: 38px;
      padding: 10px 15px 0px;
    }
  }
  .packages-pricing {
    padding: 18px 0 0;
    > p {
      font-size: 14px;
      padding: 0 0 10px;
      width: 90%;
      margin-bottom: 20px;
    }
    
  }
  .pricing-splitsec.leftimgtype {
    a.btnyellow {
      padding: 10px 25px;
      font-size: 18px;
    }
  }

.review-sec {

  .secheading {
    margin-top: 20px;
    padding: 8px 15px 12px;
  }

}

}

}


@media screen and (max-width:825px) {

.pricing-page {
  .pricing-splitsec {
    padding: 35px 0;
    .splitimg-part {
      padding-left: 0;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }
  .tribackground{
     h2 {
      font-size: 30px;
      padding: 10px 15px 0px;
    }
  }
  .pricing-splitsec.leftimgtype .splitimg-part {
    padding-right: 0;
  }
}
  
}


@media screen and (max-width:500px) {
.pricing-page {

.pricing-splitsec {
  padding: 28px 0 15px;
  span {
    font-size: 16px;
  }
  .secheading {
    font-size: 25px;
    line-height: 26px;
    margin-bottom: 12px;
  }
  .splitimg-part {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
.tribackground {
  h2 {
  font-size: 25px;
  padding: 0px 15px 0px;
  }
}
.packages-pricing {
  padding: 12px 0 0;
  > p {
    margin-bottom: 12px;
  }
}
.pricing-splitsec.leftimgtype a.btnyellow {
  padding: 8px 18px;
  font-size: 15px;
}
.review-sec {
  .testimonial-slider {
  padding-top: 28px;
  padding-bottom: 35px;
  }
}
}


}