.insights-outer {

  .row {
    padding: 50px 0;
    .col-md-6 {
      padding: 30px 20px;
    }
    .insight-inner {
      padding: 50px;
      background: linear-gradient(to bottom right, #ffb600 50%, #562479 50%);
      box-shadow: #000 0px 0px 5px;
      height: 100%;

      > div {
        background: #fff;
        position: relative;
        height: 100%;
        overflow: hidden;
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
          box-shadow: #000 0px 5px 15px -10px;
        }
        .insight-detail {
          padding: 30px;

          h2 {
            color: #000;
            font-family: Fonarto;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          p {
            font-size: 20px;
            margin: 25px 0 40px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            line-clamp: 4;
            -webkit-box-orient: vertical;
          }
          .btnyellow {
            padding: 14px 32px;
            font-family: Poppins;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }
}
